<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
        </Console>

        <RollingFile name="LogFile" filename="log/log4j2.log" filepattern="log/log4j2-%d{YYYYMMddHHmmss}-archive.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="LogFile" />
            <!--AppenderRef ref="Console" /-->
        </Root>       
    </Loggers>  
    
</Configuration>